
<%- partial('casper/head') %>
<!--<% if (typeof page.title == 'undefined') { %>
<body class="home-template">
<% } else { %>
<body class="post-template">
<% } %>
<body id="index" class="lightnav animsition">

      <%- partial('casper/header') %>
      <%- body %>
      <%- partial('casper/footer') %>
      <%- partial('casper/after_all') %>
      <%- live2d() %>

</body>
</html>
